Debug/
Release/
*.opensdf
*.opendb
*.sdf
*.suo
*.user
ipch/
*.db
*.db-shm
*.db-wal
*.opendb
.vs/SP1Framework/v16/Browse.VC.db
*.vs
*.tlog
*.iobj
*.ipdb
*.idb
*.pdb
*.recipe
*.log
*.ilk
*.db
*.json
*.db
*.sqlite
enc_temp_folder/6245a39072a6bd759da281ad96752014/game.cpp
enc_temp_folder/61a7c0cd8df13ae529d1efed91c696a7/game.cpp
